<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рецепт приготовления</title>
</head>
<body>
    <h1>Рецепт приготовления</h1>
    <form method="post">
        {% csrf_token %}
        <label for="recipe_id">Select Recipe:</label>
        <select name="recipe_id">
            {% for recipe in recipes %}
                <option value="{{ recipe.id }}">{{ recipe.name }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Рецепт приготовлен</button>
    </form>
</body>
</html>
