<!-- show_recipes_without_product.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Показать рецепты без продукта</title>
</head>
<body>
    <h1>Рецепты с или без {{ product.name }}</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes_without_product %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.name }}</td>
                    <td>Без {{ product.name }}</td>
                </tr>
            {% endfor %}

            {% for recipe in recipes_with_low_quantity %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.name }}</td>
                    <td>С менее чем 10 г {{ product.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
